Repository LucaNerlich/m10z, pull requests merged in 2025-01, with the labels that each got.

#224 Merkmale eines erfolgreichen Podcasts
  .vale.ini
  blog/articles/kommentare/2025-01-01-merkmale-eines-erfolgreichen-podcasts.md
  docusaurus.config.js
  file-size-cache.json
  package-lock.json
  package.json
  src/styles/root.css
  static/audiofeed.yaml
  static/img/articles/merchandising-meme.png
  static/img/articles/podcastabos-25.png
  static/img/articles/podcastabos.png
  static/img/articles/podcastmerkmale.jpg
  static/img/articles/sf-kapitelbilder.png
  static/img/articles/sf-konsistenz.png
  static/img/articles/tp-format-luecken.png
  static/img/articles/tp-konsistenz.png
Labels: work in progress, text

#242 Gothic als Kriminalroman
  blog/articles/text_lipardus/2025-01-28_minen-der-macht/2025-01-28-minen-der-macht.mdx
  blog/articles/text_lipardus/2025-01-28_minen-der-macht/Bild1.png
  blog/articles/text_lipardus/2025-01-28_minen-der-macht/Bild2.jpg
  docusaurus.config.js
  file-size-cache.json
Labels: release candidate, text

#243 Add episode 12 of Fundbüro podcast
  blog/podcasts/fundbuero/2025-01-31-fundbuero-12.mdx
  static/audiofeed.yaml
Labels: release candidate, podcast
